@charset "utf-8";

/* COMMON */
a{
  text-decoration: none;
  color: #333;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/* font */

 @font-face {
  font-family: 'AppleSDGothicNeoL';
  font-weight: 300;
  src:url(./font/AppleSDGothicNeoL.ttf) format(opentype);
}

@font-face {
  font-family: 'SCDream3';
  font-weight: 400;
  src:url(./font/SCDream3.otf) format(opentype);}

@font-face {
  font-family: 'SCDream4';
  font-weight: 500;
  src:url(./font/SCDream4.otf) format(opentype);

  
}
@font-face {
  font-family: 'SCDream5';
  font-weight: 600;
  src:url(./font/SCDream5.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream6';
  font-weight: 700;
  src:url(./font/SCDream6.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream8';
  font-weight: 800;
  src:url(./font/SCDream8.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream9';
  font-weight: 900;
  src:url(./font/SCDream9.otf) format(opentype);
} */


/* @font-face {
  font-family: 'SCDream2';
  font-weight: 300;
  src:url(./font/SCDream2.otf) format(opentype);
}

@font-face {
  font-family: 'SCDream3';
  font-weight: 400;
  src:url(./font/SCDream3.otf) format(opentype);}

@font-face {
  font-family: 'SCDream4';
  font-weight: 500;
  src:url(./font/SCDream4.otf) format(opentype);

  
}
@font-face {
  font-family: 'SCDream5';
  font-weight: 600;
  src:url(./font/SCDream5.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream6';
  font-weight: 700;
  src:url(./font/SCDream6.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream8';
  font-weight: 800;
  src:url(./font/SCDream8.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream9';
  font-weight: 900;
  src:url(./font/SCDream9.otf) format(opentype);
} */


html, body {
  max-width: 100%;

  }

#videoModal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal video{
  position: absolute;
  left:25%;
  top: 25%;
  border-radius: 20px;
}
#videoModal button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}
#videoModal2{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal2 video{
  position: absolute;
  left:25%;
  top: 25%;
  border-radius: 20px;
}
#videoModal2 button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}
/* topButton */
#topButton {
  width: 150px;
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  font-size: 16px; 
  border: 0.5px solid #42B883; 
  font-family:'SCDream4';
  outline: none; 
  background-color: #fff; 
  color:#42B883; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 20px; 

}
    
#topButton:hover {
  background-color: #42B883;
  color: #fff;
  transition: all 0.5s;
  animation: anitext3 1.5s ease 1.2s;
    }

/* Contact button */

button#contact{
  width: 250px;
  background: none;
  border: none;
  position:fixed;
  z-index: 999;
  right: 20px;
  bottom: 60px;

}
.nemo{
  width: 200px;
  height: 50px;
  position: absolute;
  background: #F9F9F9;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #999;
  top: 20px;
  right: 0;
 
}
button:hover .nemo {
  border: 1px solid #42B883;
  box-shadow: none;
 
 
  
}
button:hover h1 {
  color: #42B883;
 
}
button h1{
  font-size: 18px;
  font-family:'SCDream5';
  line-height: 50px;
  text-align: center;
  padding-left: 40px;
  color: #222;


}
#contact .material-icons{
  position: relative;
 font-size: 45px;
 color: #fff;
 width: 80px;
 height: 80px;
 border-radius: 100px;
 background-color: #42B883;
 z-index: 5;
}



/* Button */

.btn {

    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #F9f9f9;
    color: #476582;
    border: #999;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'SCDream4';
  }


button .material-icons{
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
 
}

.btn-main {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: #42b883;
  color: #fff;
  border: #F2F8FF;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'SCDream4';
 }
 .btn-main a{
  color: #fff;
 }


 .btn-main:hover{
  background-color: #42d392;
  transition: all 0.5s;
  animation: anitext3 1.5s ease 1.2s;


 }
 button:hover.material-icons:hover{
  padding-left: 5px;
}


/* header */
header{
  width: 100%;
  height: 60px;
  background-color:#fff;
  box-shadow: 0.5px 0.5px 0.5px #f1ebeb; 
  border-collapse: collapse;
  position: fixed;
  z-index: 99;
  
 

}
header .inner{
  width: 1200px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header img{
  position: absolute;
  left: 0;
  margin-top: 5px;

  
} 

header .inner ul{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header ul li a{
  font-size: 13px;
  padding: 11px 40px;
  display: block;
  color: #333;
  font-family:'SCDream4';
  cursor: pointer;
}

  header ul li a:hover{
  color: #42B883;
}

/*Mobile */

.mobile-icon .material-icons{
  font-size: 30px;
}

.mobile-icon{
  display:none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
 
}
#mobile{
  font-size: 30px;
  position: absolute;
  right:15px;
  top: 5px;
  cursor: pointer;
}

.mobile-menu{
  width: 100%;
  display: none;
  height: 250px;
  background-color:#fbfbfb;
  border:0.1px solid #e1d9d9;
  z-index: 500;
  position: fixed;
  animation:fade-in 0.7s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobile-menu ul{
 
 margin-top: 30px;
 font-size: 18px;
 font-family:'SCDream5';
 text-align: center;


}
.mobile-menu li{
  margin : 35px;
  cursor: pointer;
 
}



.mobile-menu a{
 text-decoration: none;
 color: #333;
 cursor: pointer;
}

.mobile-menu a:hover{
  color: #42d392;
}

/* VISUAL  */

.visual{
    height: 700px;
    background-color: #f9f9f9;
}

.visual .inner {
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    overflow: hidden;
}

.visual .inner .mainsec{
    display:flex;
    height: 50%;
}

.visual .inner .mainsec .mainText{

 
    width: 100%;
    height: 100%;
    text-align: left;
    margin-top: 100px;
    margin-right: 100px;
   
}
.phoneImg .title-img{ 
 height: 350px;
 border-radius: 10px;
 margin-top: 30px;
 filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));


}

.visual .inner .headtag{
    font-size: 60px;
    font-family: 'SCDream9';   
    letter-spacing: 10px; 
    color: #333;
    

}
.visual .inner .headtag2{
  margin-top: 14px;
  font-size: 20px;
  letter-spacing: 5px;
  padding-left: 5px;
  font-family: 'SCDream4';    
  color: #333;
  

}
.visual .inner strong{
  font-size: 30px;
  font-family: 'SCDream7';    
  color: #333;
  

}
  
.visual .inner .subtag{
    font-size: 18px;
    font-family: 'SCDream4';    
    color:  rgb(107 114 128);
    margin-top: 40px;

}
.visual .inner .subtag1{
    font-size: 18px;
    font-family: 'SCDream4';    
    color:  rgb(107 114 128);
    margin-top: 12px;
}

.btn{
 width: 160px;
 height: 40px;
 border: #999 solid 0.5px;
 color: #696969;
 margin-top: 30px;
 margin-left: 0;
 cursor: pointer;
 
}
.btn:hover{
    background-color: #696969;
    transition: all 0.5s;
    animation: anitext3 1.5s ease 1.2s;
  
   }

.btn .subbtnnm{
  font-size: 14px;
  color: #696969;
}


.btn:hover .subbtnnm{

    color: #fff;
}

.wisper{
    height: 1100px;
    background-color:#171717;

}

.visual .img-inner {
  position: fixed; /* 자식 요소를 고정 위치로 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .wisper .inner{ */
  /* width: 100%; */
  /* height: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* position: relative; */
/* } */

.wisper-title{

  width: 100%;
  height: 100%;
  justify-content: left;
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-left: 15%;
 
}
.text-line{

  display: flex;
  justify-content: center;
  align-items: center;
}

.wisper-title h1{
 
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family:'SCDream6';

}
.wisper-title p{
  padding-top: 10px;
  line-height: 1.5;
  font-size: 16px;
  color: #a3a3a3;
  width: 100%;
  font-family:'SCDream4';
   
}


#spinner {
  position: absolute;
  left: 10%;
  top: 50px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 2px solid rgba(163, 151, 198, 0.2);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}
.spinner-container{
  position: relative; 


}
#spinner1{
 
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid rgba(163, 151, 198, 0.2);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}
.spinner-container1{
  position: relative; 


}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wisper .inner .imgBox {
  position: relative;

}


.img-inner{
 width: 100%;
 padding-left: 5%;
}
.box-inner {
  position: absolute; /* 변경된 부분: img-inner의 자식으로서 위치 조정 */
  right: 0; /* 추가된 부분: img-inner의 오른쪽에 배치되도록 설정 */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 600px;
  
}

.img-inner .sub-img{
  left: 20%;
  top: 20px;
  height: 500px;
  position: absolute;
  z-index: 100;
}


.img-inner .box1{


  margin-bottom: 35px;
  width: 435px;
  height:210px;
  background-color:#262626;
  border-radius: 20px;
}

.box1 h1{
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family:'SCDream6';
}
.box1 p{
  text-align: left;
  padding-top: 5px;
  padding-left: 30px;
  font-size: 13px;
  color: #fff;
  line-height: 1.5;
  font-family:'SCDream4';
}

.img-inner .box2{
  position: absolute;

  width: 560px;
  height: 180px;
  border-radius: 20px;
}

.infra{
  height: 900px;
  background-color: #f9f9f9;
}

.infra .inner{
  
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 }
 .hmsg2 h4{
font-size: 16px;
padding-top: 10px;
font-family:'SCDream3';
line-height: 1.6;
 }

.infra h1{
  font-size: 16px;
  padding-left: 20px;
  padding-top: 25px;
  text-align: left;
  font-family:'SCDream5';
  line-height: 1.5;
}
.infra p{
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;
}

.infra .inner .box-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container1 .box{
 width: 350px;
 border-radius: 20px;
 height: 230px;
border: #9999 solid 0.1px ;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;

}

.infra .inner .box-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container2 .box{
  width: 350px;
  border-radius: 20px;
  height: 230px;
 border: #9999 solid 0.1px ;
  margin-top: 30px;
  margin-right: 2%;
  align-items: center;
}
.infra .inner .box-container2 .box-last{
  width: 350px;
  margin-top: 30px;
  margin-right: 2%;
  height: 200px;

}

.infra-process{
  height: 900px;
  background-color: #f9f9f9;
}

.infra-process .inner{
  
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra-process  .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra-process .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 }

 .hmsg2 h4{
font-size: 16px;
padding-top: 10px;
font-family:'SCDream3';
line-height: 1.6;
 }

.infra-process h1{
  font-size: 20px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream6';
  line-height: 1.5;
}
.infra-process p{
  font-size: 16px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;
}

.infra-process .inner .box-container3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container3 .box{
 width: 250px;
 border-radius: 20px;
 height: 200px;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}

 .box .circle{
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box .process{
  width: 100%;
  display: flex;
  align-items: center;
}
.box .line{
  width: 60%;
  height: 0.5px;
  display: flex;
  border: #000 solid 0.2px;
  border-radius: 10px;
}
.infra-process .inner .box-container4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container4 .box{
 width: 250px;
 border-radius: 20px;
 height: 200px;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}


.AI-iq{
  height: 450px;
  background-color:#171717;
  overflow: hidden;
}
.AI-iq .inner{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AI-iq .inner h1{
  color: #fff;
  font-size: 30px;
text-align: center;
font-family:'SCDream6';

}
.AI-iq .inner p{
  color: #fff;
  padding-top: 50px;
  text-align: center;
  line-height: 1.7;
  font-size: 17px;
  font-family:'SCDream3';

}
.AI-iq .inner .AI-text{

position: absolute;
}

/* Footer */
footer{
  height: 200px;
  background-color:#fff;
  padding-top: 10px;
  text-align: center;

}

.info{
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
}

footer p{
  font-size: 14px;
  font-family:'SCDream3';
  margin:10px;
  line-height: 1.1;

}
footer strong{
  font-family:'SCDream5';
  margin-left: 15px;
}


/* CONTACT */




/* MOBILE */
  
@media screen and (max-width:420px){

    body{
      width:100%;
      overflow-x:hidden;
    }
    header ul{
      display: none;
  
    }
    
    .mobile-icon{
      display:flex;
      
    }
    

  
    header img{
      width: 180px;
      height: 40px;
      margin-top: 5px;
    }
  

    .btn{

        width: 160px;
      
    }

/* VISUAL  */

.visual{
  height: 800px;
  background-color: #f9f9f9;
}

.visual .inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:inline;
  overflow: hidden;
}

.visual .inner .mainsec{
  
  display:block;
  height: 100%;
}

.visual .inner .mainsec .mainText{

  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 200px;
  margin-right: 100px;
 
}
.phoneImg .title-img{ 
height: 350px;
border-radius: 10px;
margin-top: 30px;
filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));


}

.visual .inner .headtag{
  font-size: 60px;
  font-family: 'SCDream9';   
  letter-spacing: 10px; 
  color: #333;
  

}
.visual .inner .headtag2{
margin-top: 14px;
font-size: 20px;
letter-spacing: 5px;
padding-left: 5px;
font-family: 'SCDream4';    
color: #333;


}
.visual .inner strong{
font-size: 30px;
font-family: 'SCDream7';    
color: #333;


}

.visual .inner .subtag{
  font-size: 18px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 40px;

}
.visual .inner .subtag1{
  font-size: 18px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 12px;
}

.btn{
width: 160px;
height: 40px;
border: #999 solid 0.5px;
color: #696969;
margin-top: 30px;
margin-left: 0;
cursor: pointer;

}
     
.visual .inner {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:block;
  overflow: hidden;
}

.visual .inner .mainsec{
  display:block;
  height: 39%;
}

.visual .inner .mainsec .mainText{


  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 100px;
  margin-right: 100px;
 
}
.phoneImg .title-img{ 
  height: 230px;
  border-radius: 10px;
  margin-top: 50px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));


}

.visual .inner .headtag{
  font-size: 60px;
  font-family: 'SCDream9';   
  letter-spacing: 10px; 
  color: #333;
  

}
.visual .inner .headtag2{
margin-top: 14px;
font-size: 18px;
letter-spacing: 1px;
padding-left: 5px;
font-family: 'SCDream4';    
color: #333;


}
.visual .inner strong{
font-size: 25px;
font-family: 'SCDream7';    
color: #333;


}

.visual .img-inner {
  position: fixed; /* 자식 요소를 고정 위치로 설정 */
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.wisper .inner{
 padding-right: 20%;
}
.wisper{
  height: 1100px;
  background-color:#171717;

}
.wisper-title{

  width: 100%;
  height: 100%;
  justify-content: left;
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  margin-left: 15%;
 
}
.text-line{

  display: flex;
  justify-content: center;
  align-items: center;
}

.wisper-title h1{
 
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family:'SCDream6';

}
.wisper-title p{
  padding-top: 10px;
  line-height: 1.5;
  font-size: 16px;
  color: #a3a3a3;
  width: 100%;
  font-family:'SCDream4';
   
}


.visual .inner .subtag{
  font-size: 14px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 40px;
  line-height: 1.5;

}
.visual .inner .subtag1{
  font-size: 14px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 12px;
}
.box-inner {
  position: relative; /* 변경된 부분: img-inner의 자식으로서 위치 조정 */
  left: 0; /* 추가된 부분: img-inner의 오른쪽에 배치되도록 설정 */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}
.img-inner .sub-img{
  left: 20%;
  top: 0;
  position: absolute;
  border-radius: 30px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  z-index: 100;
}
#spinner {
  position: absolute;
  left: 0px;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border: 2px solid rgba(163, 151, 198, 0.2);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.box-inner {
  position: absolute; /* 변경된 부분: img-inner의 자식으로서 위치 조정 */
  left: 580px; /* 추가된 부분: img-inner의 오른쪽에 배치되도록 설정 */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 700px;
  
}

.img-inner .box1{


  margin-bottom: 35px;
  width: 400px;
  height:200px;
  background-color:#262626;
  border-radius: 20px;
}

.box1 h1{
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family:'SCDream6';
}
.box1 p{
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 13px;
  color: #fff;
  line-height: 1.5;
  font-family:'SCDream4';
  margin-right: 10px;
}

.img-inner .box2{
  position: absolute;

  width: 560px;
  height: 180px;
  border-radius: 20px;
}

.infra{
  height: 1600px;
  background-color: #f9f9f9;
}

.infra .inner{
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 
 }
 .hmsg2 h4{
font-size: 16px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
font-family:'SCDream3';
line-height: 1.5;
margin-bottom: 50px;
 }

.infra h1{
  font-size: 16px;
  padding-left: 20px;
  padding-top: 25px;
  text-align: left;
  font-family:'SCDream5';
  line-height: 1.5;
}
.infra p{
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;

}

.infra .inner .box-container1{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container1 .box{
 width: 350px;
 border-radius: 20px;
 height: 200px;
border: #9999 solid 0.1px ;
 margin-top: 20px;
 margin-right: 0;
 align-items: center;

}

.infra .inner .box-container2{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container2 .box{
  width: 350px;
  border-radius: 20px;
  height: 230px;
 border: #9999 solid 0.1px ;
  margin-top: 30px;
  margin-right: 2%;
  align-items: center;
}
.infra .inner .box-container2 .box-last{
  width: 350px;
  margin-top: 30px;
  margin-right: 2%;
  height: 200px;

}

.infra-process{
  height: 2000px;
  background-color: #f9f9f9;
}

.infra-process .inner{
  padding-left: 20px;
  padding-right: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra-process  .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra-process .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 }

 .hmsg2 h4{
font-size: 15px;
padding-top: 10px;
font-family:'SCDream3';
line-height: 1.6;
 }

.infra-process h1{
  font-size: 18px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream6';
  line-height: 1.5;
}
.infra-process p{
  font-size: 14px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;
}

.infra-process .inner .box-container3{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container3 .box{
 width: 250px;
 border-radius: 20px;
 height: 180px;
 margin-top: 20px;
 margin-left: 15%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}

 .box .circle{
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box .process{
  width: 100%;
  display: flex;
  align-items: center;
}
.box .line{
  width: 60%;
  height: 0.5px;
  display: flex;
  border: #000 solid 0.2px;
  border-radius: 10px;
}
.infra-process .inner .box-container4{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container4 .box{
 width: 250px;

 border-radius: 20px;
 height: 180px;
 margin-top: 50px;
 margin-left: 15%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}


.AI-iq{
  height: 450px;
  background-color:#171717;
  overflow: hidden;
}
.AI-iq .inner{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AI-iq .inner h1{
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family:'SCDream6';

}
.AI-iq .inner p{
  color: #fff;
  padding-top: 50px;
  text-align: center;
  line-height: 1.7;
  font-size: 14px;
  font-family:'SCDream3';

}
.AI-iq .inner .AI-text{

position: absolute;
}

#videoModal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal video{
  width: 400px;
  position: absolute;
  left:0;
  top: 25%;
  border-radius: 20px;
}
#videoModal button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}

#videoModal2{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal2 video{
  width: 400px;
  position: absolute;
  left:0;
  top: 25%;
  border-radius: 20px;
}
#videoModal2 button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}
}




@media screen and (min-width: 481px) and (max-width: 780px) {


  body{
    width:100%;
    overflow:hidden;

  }


  .mobile-icon{
    display: block;
    
  }
}
   /* iPad Pro */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    
/* header */
header{
  width: 100%;
  height: 60px;
  background-color:#fff;
  box-shadow: 0.5px 0.5px 0.5px #f1ebeb; 
  border-collapse: collapse;
  position: fixed;
  z-index: 99;
  
 

}
header .inner{
  width: 1200px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header img{
  position: absolute;
  left: 0;
  margin-top: 5px;

  
} 

header .inner ul{
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
}

header ul li a{
  font-size: 13px;
  padding: 11px 40px;
  display: block;
  color: #333;
  font-family:'SCDream4';
  cursor: pointer;
}

  header ul li a:hover{
  color: #42B883;
}

.mobile-icon{
  display:block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
 
}

.visual .inner {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  overflow: hidden;
}

.visual .inner .mainsec{
  display:flex;
  height: 50%;
}

.visual .inner .mainsec .mainText{


  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 100px;
  margin-right: 100px;
 
}
.phoneImg .title-img{ 
  height: 300px;
  border-radius: 10px;
  margin-top: 50px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));


}

.visual .inner .headtag{
  font-size: 60px;
  font-family: 'SCDream9';   
  letter-spacing: 10px; 
  color: #333;
  

}
.visual .inner .headtag2{
margin-top: 14px;
font-size: 20px;
letter-spacing: 3px;
padding-left: 5px;
font-family: 'SCDream4';    
color: #333;


}
.visual .inner strong{
font-size: 30px;
font-family: 'SCDream7';    
color: #333;


}

.visual .inner .subtag{
  font-size: 16px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 40px;

}
.visual .inner .subtag1{
  font-size: 18px;
  font-family: 'SCDream4';    
  color:  rgb(107 114 128);
  margin-top: 12px;
}
.box-inner {
  position: absolute; /* 변경된 부분: img-inner의 자식으로서 위치 조정 */
  right: 0; /* 추가된 부분: img-inner의 오른쪽에 배치되도록 설정 */
  width: 40%;
  justify-content: center;
  align-items: center;
  height: 600px;
  
}
.img-inner .sub-img{
  left: 20%;
  top: 20px;
  position: absolute;
  border-radius: 40px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  z-index: 100;
}
#spinner {
  position: absolute;
  left: 80px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 2px solid rgba(163, 151, 198, 0.2);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.box-inner {
  position: absolute; /* 변경된 부분: img-inner의 자식으로서 위치 조정 */
  left: 580px; /* 추가된 부분: img-inner의 오른쪽에 배치되도록 설정 */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 700px;
  
}

.img-inner .box1{


  margin-bottom: 35px;
  width: 400px;
  height:200px;
  background-color:#262626;
  border-radius: 20px;
}

.box1 h1{
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family:'SCDream6';
}
.box1 p{
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 13px;
  color: #fff;
  line-height: 1.5;
  font-family:'SCDream4';
  margin-right: 10px;
}

.img-inner .box2{
  position: absolute;

  width: 560px;
  height: 180px;
  border-radius: 20px;
}

.infra{
  height: 900px;
  background-color: #f9f9f9;
}

.infra .inner{
  padding-left: 15px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 }
 .hmsg2 h4{
font-size: 16px;
padding-top: 10px;
font-family:'SCDream3';
line-height: 1.6;
 }

.infra h1{
  font-size: 16px;
  padding-left: 20px;
  padding-top: 25px;
  text-align: left;
  font-family:'SCDream5';
  line-height: 1.5;
}
.infra p{
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;
}

.infra .inner .box-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container1 .box{
 width: 350px;
 border-radius: 20px;
 height: 230px;
border: #9999 solid 0.1px ;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;

}

.infra .inner .box-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra .inner .box-container2 .box{
  width: 350px;
  border-radius: 20px;
  height: 230px;
 border: #9999 solid 0.1px ;
  margin-top: 30px;
  margin-right: 2%;
  align-items: center;
}
.infra .inner .box-container2 .box-last{
  width: 350px;
  margin-top: 30px;
  margin-right: 2%;
  height: 200px;

}

.infra-process{
  height: 900px;
  background-color: #f9f9f9;
}

.infra-process .inner{
  padding-left: 20px;
  padding-right: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.infra-process  .hmsg {
 display: flex;
 justify-content: center;
 font-size: 25px;
 padding-top: 100px;
 font-family:'SCDream6';
 text-align: center;
 line-height: 1.5;
}
.infra-process .hmsg2 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
 }

 .hmsg2 h4{
font-size: 15px;
padding-top: 10px;
font-family:'SCDream3';
line-height: 1.6;
 }

.infra-process h1{
  font-size: 18px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream6';
  line-height: 1.5;
}
.infra-process p{
  font-size: 14px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  font-family:'SCDream3';
  line-height: 1.5;
}

.infra-process .inner .box-container3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container3 .box{
 width: 250px;
 border-radius: 20px;
 height: 200px;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}

 .box .circle{
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box .process{
  width: 100%;
  display: flex;
  align-items: center;
}
.box .line{
  width: 60%;
  height: 0.5px;
  display: flex;
  border: #000 solid 0.2px;
  border-radius: 10px;
}
.infra-process .inner .box-container4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infra-process .inner .box-container4 .box{
 width: 250px;
 border-radius: 20px;
 height: 200px;
 margin-top: 60px;
 margin-right: 2%;
 align-items: center;
 font-size: 20px;
 font-family:'SCDream6';

}

#videoModal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal video{
  width: 1000px;
  height: 500px;
  position: absolute;
  left:10px;
  top: 25%;
 
  border-radius: 20px;
}
#videoModal button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}

#videoModal2{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
#videoModal2 video{
  width: 1000px;
  height: 500px;
  position: absolute;
  left:10px;
  top: 25%;
  border-radius: 20px;
}
#videoModal2 button{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #000;
  border: #fff solid 1px ;
  color: #fff;
}


}