@charset "utf-8";

/* COMMON */
a{
  text-decoration: none;
  color: #333;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/* font */
@font-face {
  font-family: 'SCDream2';
  font-weight: 300;
  src:url(./font/SCDream2.otf) format(opentype);
}

@font-face {
  font-family: 'SCDream3';
  font-weight: 400;
  src:url(./font/SCDream3.otf) format(opentype);}

@font-face {
  font-family: 'SCDream4';
  font-weight: 500;
  src:url(./font/SCDream4.otf) format(opentype);

  
}
@font-face {
  font-family: 'SCDream5';
  font-weight: 600;
  src:url(./font/SCDream5.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream6';
  font-weight: 700;
  src:url(./font/SCDream6.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream8';
  font-weight: 800;
  src:url(./font/SCDream8.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream9';
  font-weight: 900;
  src:url(./font/SCDream9.otf) format(opentype);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  }

/* Button */

.btn {

    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #F9f9f9;
    color: #476582;
    border: #999;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'SCDream4';
  }


button .material-icons{
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
 
}

.btn-main {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: #42b883;
  color: #fff;
  border: #F2F8FF;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'SCDream4';
 }
 .btn-main a{
  color: #fff;
 }

 .btn:hover{

 background-color:#f1f1f1;

 }
 .btn-main:hover{
  background-color: #42d392;


 }
 button:hover.material-icons:hover{
  padding-left: 5px;
}


/* header */
header{
  width: 100%;
  height: 55px;
  background-color:#fff;
  box-shadow: 0.5px 0.5px 0.5px #f1ebeb; 
  border-collapse: collapse;
  position: fixed;
  z-index: 99;
  
 

}
header .inner{
  width: 1200px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header img{
  position: absolute;
  left: 0;

  
} 

header .inner ul{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header ul li a{
  font-size: 13px;
  padding: 11px 40px;
  display: block;
  color: #333;
  font-family:'SCDream4';
  cursor: pointer;
}

  header ul li a:hover{
  color: #42B883;
}

/*Mobile */

.mobile-icon .material-icons{
  font-size: 30px;
}

.mobile-icon{
  display:none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
 
}
#mobile{
  font-size: 30px;
  position: absolute;
  right:15px;
  top: 5px;
  cursor: pointer;
}

.mobile-menu{
  width: 100%;
  display: none;
  height: 250px;
  background-color:#fbfbfb;
  border:0.1px solid #e1d9d9;
  z-index: 500;
  position: fixed;
  animation:fade-in 0.7s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobile-menu ul{
 
 margin-top: 30px;
 font-size: 18px;
 font-family:'SCDream5';
 text-align: center;


}
.mobile-menu li{
  margin : 35px;
  cursor: pointer;
 
}



.mobile-menu a{
 text-decoration: none;
 color: #333;
 cursor: pointer;
}

.mobile-menu a:hover{
  color: #42d392;
}


/* VISUAL */
.visual{
 height: 580px;
 overflow: hidden;

}

.visual .inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;

 
}

.visual p{
  /* top: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.visual .inner .accent{
  letter-spacing: -2px;
  font-size: 64px;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(285deg,#42d392 15%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'SCDream9';
  margin-top: 50px;
}
  
.visual .inner .visual-text{
  font-size: 64px;
  line-height: 1.25;
  word-spacing: -5px;
  font-family:'SCDream9';
  max-width: 960px;
  margin: 0 auto;
  
}
.visual .inner h5{
  max-width: 960px;
  line-height: 1.5;
  margin: 24px auto 40px;
  font-size: 20px;
  color: #999;
  font-family:'SCDream3';
  letter-spacing: 1px;
  word-spacing: 2px;

}


/* solution */

.know-how{
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e4e7eb;

}
.know-how p{
  font-family:'SCDream3';
  font-size: 14px;
}
.know-how strong{
  font-size: 20px;
  color: #f02265;
  font-family:'SCDream5';
}

.Service{
  width: 100%;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.Service h1{
  margin-left: 50px;
  font-size: 20px;
  font-family:'SCDream5';
  text-align:left;
  color: #213547;
  margin-bottom: 25px;


}
.Service p{
  font-size: 14px;
  font-family:'SCDream4';
  margin-top: 15px;
  text-align:left;
  line-height: 1.8;
  margin-left: 50px;
  color: #3c3c3cb3;
}
.Service strong{
  
  font-family:'SCDream4';
}




.mesage-mobile{
  display: none;
}

/* topButton */
#topButton {
  width: 150px;
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  font-size: 16px; 
  border: 0.5px solid #42B883; 
  font-family:'SCDream4';
  outline: none; 
  background-color: #fff; 
  color:#42B883; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 20px; 

  }
    
#topButton:hover {
  background-color: #42B883;
  color: #fff;
    }

/* Contact button */

button#contact{
  width: 250px;
  background: none;
  border: none;
  position:fixed;
  z-index: 999;
  right: 20px;
  bottom: 60px;

}
.nemo{
  width: 200px;
  height: 50px;
  position: absolute;
  background: #F9F9F9;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #999;
  top: 20px;
  right: 0;
 
}
button:hover .nemo {
  border: 1px solid #42B883;
  
}
button:hover h1 {
  color: #42B883;
}
button h1{
  font-size: 18px;
  font-family:'SCDream5';
  line-height: 50px;
  text-align: center;
  padding-left: 40px;
  color: #222;


}
#contact .material-icons{
  position: relative;
 font-size: 45px;
 color: #fff;
 width: 80px;
 height: 80px;
 border-radius: 100px;
 background-color: #42B883;
 z-index: 5;
}


/* Project */

.projects{
  height: 2300px;
  overflow: hidden;
}

.inner{
  margin: 0 auto;
}
.line{
  width: 100%;
  border: 1px solid #f9f9f9;
  margin-top: 100px;
  text-align: center;
}
.projects h1{
  font-size: 40px;
  font-family:'SCDream6';
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;
  color:#213547;
  letter-spacing: 1px;
  word-spacing: 2px;

}
.projects h3{
  font-size: 18px;
  font-family:'SCDream4';

  text-align: center;
  margin: 20px auto 40px;
  color: #999;
  font-family:'SCDream3';
  letter-spacing: 1px;
  word-spacing: 1px;


}


.flex{

  margin: 0px auto;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
 
}
.projects .item{
  position: relative;
}

.projects h4{
  font-size: 18px;
  font-family:'SCDream4';
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
 
}
.projects p{
  font-size: 14px;
  font-family:'SCDream3';
  color: #999;
  margin-left: 120px;
  margin-top: 10px;
}

.projects h5 {
  font-size: 14px;
  font-family:'SCDream3';
  color: #999;
  margin-left: 180px;
  margin-top: 10px;
}


.projects .items img{
  border-radius: 5px;
  transition: all 0.2s linear;
  margin-top: 70px;
  margin-left: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;

  
}
.scope{
  display: flex;
  margin-top: 10px;
  margin-left: 60px;
 
}


.scope .plan{
 
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 70px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  


}

.scope .design{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 70px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;


}
.scope .infra{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;


}
.scope .db{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 70px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;

}
.scope2 .front{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;

}
.scope2{
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
}

.scope2 .back{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;
 
}
.scope2 .fix{
  font-size: 12px;
  font-family:'SCDream4';
  color: #fff;
  background-color: #3b4447;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 8px;
}
.scope .plan1{
   
  font-size: 12px;
  font-family:'SCDream4';
  color: #e1d9d9;
  background-color: #f9f9f9;
  width: 70px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;



}


.scope .design1{
 
  font-size: 12px;
  font-family:'SCDream4';
  color: #e1d9d9;
  background-color: #f9f9f9;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  text-align: center;
  line-height: 20px;


}


.scope2 .back1{
  font-size: 12px;
  font-family:'SCDream4';
  color: #e1d9d9;
  background-color: #f9f9f9;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  text-align: center;
  line-height: 20px;
 
}
.projects .items .item:hover .back-img{
  transform: scale(0.9);
 
}

.projects .items .item:hover .text-box{
  opacity: 1;
}
.projects .items .item:hover{
  
}

.scope{
  display: flex;
}

/* Teams */
.Teams{
  height: 1000px;
}

.Teams .inner{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.CEO{
  display: flex;
 
}
.ceo-name h1{
  font-size: 20px;
  font-family:'SCDream6';
  color:#333;
  margin-top: 50px;
}
.ceo-name h5{
  font-size: 12px;
  font-family:'SCDream4';
  margin-bottom: 10px;
  margin-left: 1px;
  margin-top: 2px;
 
}
.ceo-career{
  font-size: 15px;
  font-family:'SCDream3';
  line-height: 1.4;
  text-align: left;
  margin-left: 50px;

}


.automation{
 margin-left: 70px;
}
.ERP{
  margin-left: 70px;
}

.head h1{
  font-size: 40px;
  font-family:'SCDream6';
  align-items: center;
  text-align: center;
  margin-top: 70px;
  color:#213547;
  letter-spacing: 3px;

}
.head h5{
  font-size: 18px;
  font-family:'SCDream3';
  align-items: center;
  text-align: center;
  color:#999;
  word-spacing: 2px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 70px;
}
.member{
  display: flex;
}

.teams-img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: #f7f7f7;
  margin-left: 50px;
  margin-top: 70px;
  box-shadow: 1px 1px 1px 1px #999;
  margin-bottom: 10px;
}

.name h1{
  font-size: 20px;
  font-family:'SCDream6';
  margin-top: 30px;
}

.position h5{
  font-size: 12px;
  font-family:'SCDream4';
  margin-top: 10px;
}

.career p{
  font-size: 15px;
  font-family:'SCDream3';
  line-height: 1.4;
  margin-top: 10px;

 
}


/* SWIPER */
   

.Client{
  background-color: #F9F9F9;

}



.inner-swiper h1{
  font-size: 40px;
  font-family:'SCDream6';
  align-items: center;
  text-align: center;
  padding-top: 40px;
  color:#213547;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 50px;
}




.marquee-container {
  width: 100%;
  height: 100%;
  
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: flow 25s linear infinite;
  
}

.marquee span {
  display: inline-block;
  margin-right: 20px;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility : hidden;
 
}


@keyframes flow {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}



/* Footer */
footer{
  height: 150px;
  background-color:#fff;
  padding-top: 10px;
  text-align: center;
 

}

.info{
padding-top: 10px;
}

footer p{
  font-size: 14px;
  font-family:'SCDream3';
  margin:10px;
  line-height: 1.1;

}
footer strong{
  font-family:'SCDream5';
  margin-left: 15px;
}


/* CONTACT */




/* MOBILE */
  
@media screen and (max-width:420px){

    body{
      width:100%;
      overflow-x:hidden;
    }
    header ul{
      display: none;
  
    }
    
    .mobile-icon{
      display: block;
      
    }
    

  
    header img{
      width: 180px;
      height: 40px;
      margin-top: 5px;
    }
  

    .btn{

        width: 160px;
      }

    .btn-main{
       width: 160px;
    }
    
    
    .visual{
      height: 100vh;
      width:100%;
      overflow-x:hidden;
      
    }
    .visual .inner .accent{
      font-size: 48px;
      letter-spacing: -.5px;
  
    }
    .visual .inner .visual-text{
      font-size: 48px;
      line-height: 1.25;
     
      
    }
    .visual .inner h5{
      font-size: 16px;
      margin: 18px 0 30px;
    
    
    }
   
    .know-how{
      height: 80px;
      border: #fff;

    }
    .know-how p{
      font-size: 12px;
    }

    .Service{
      height: 800px;
      display:block;
      text-align: center;
      width:100%;
      overflow-x:hidden;
    }
    
    .Service h1{
      margin-left: 0;
      margin-top: 30px;
      font-size: 18px;  
      text-align:center;
      
    
    }
    .Service p{
      margin-left: 0;
      font-size: 14px;
      margin-top: 30px;
      text-align:center;
      line-height: 1.8;
   
    
    } 

    /* SWIPER */

    /* .marquee{
      animation: linear 30s linear infinite;
    }

    @keyframes linear {
      0% {
          transform: translateX(-0%) ;
      }
      40% {
        transform: translateX(-50%);
      }
      100% {
          transform: translateX(-100%);
      }
    } */
    

    /* Project */
    .projects{
      height: 3620px;
      display: block;
      overflow-x:hidden;
    }
    .flex{      
      display:block;
    }
    .projects .item{
      display: block;
    }
    .projects .items .item:hover .back-img{
      transform: scale(0.9);
     
    }
    .projects h1{
      margin-left: 0;
      font-size: 30px;
  
    }
    .projects h3{
      margin-left: 0;
      font-size: 14px;
      letter-spacing:2px;
      font-family:'SCDream3';
    }
  
    img.back-img{
      width: 320px;
      display: block;
      margin: 0 auto;
      overflow: hidden;

    }
    .projects .items img{
     
      margin-top: 70px;
      margin-left: 20px;
    }
    .scope{
      margin-left: 20px;
    
    }
    .scope2{
      margin-left: 10px;
    
    }
    .projects h4{
      margin-left: 32px;
    }
    /* Teams */
    .Teams{
      height: 1800px;
    }
   .head h5{
      letter-spacing:2px;
      word-spacing: 1px;
      font-family:'SCDream3';

    }
    
    .CEO{
      display: block;
    }
   
    .teams-img{
      margin: 0 auto;
      margin-top: 30px;
     
    }
    
    .ceo-name h1 {
      text-align: center;
      overflow-x: hidden;
      margin-right: 0px;
    }
    .ceo-name h5{
    
      margin-bottom: 10px;
      text-align: center;
      margin-top: 2px;
      margin-right: 0px;
     
    }
    .ceo-career{
      text-align: center;
      margin-right: 50px;
    }
    
    .automation{
      margin-left: 0;
     }
     .ERP{
       margin-left: 0;
     }
     .name h1{
      margin-top: 50px;
     }

     /* SWIPER */
     .client{
      height: 100%;
   
     }
     .inner-swiper h1{
      font-size: 30px;
     }

     .marquee-container {
      width: 100%;
      height: 100%;
     }
    

    
    .marquee span  {
      overflow: visible;
      isolation: isolate;
      display: inline-block;
      z-index: 0;
 
    }
    /* Contact button */

button#contact{
 width: 250px;
  right: 0;
  bottom: 45px;
}
.nemo{
  width: 110px;
  height: 40px;
  top: 5px;
  right: 30px;

  
}
button:hover .nemo {
  border: 1px solid #42B883;
  
}
button:hover h1 {
  color: #42B883;
}
button h1{
  font-size: 13px;
  font-family:'SCDream5';
  line-height: 40px;
  padding-left: 16px;



}
#contact .material-icons{
 
 left: 75px;
 font-size: 25px;
 width: 50px;
 height: 50px;

}

#topButton {
  width: 120px;
  height: 40px;
  bottom: 7px; 
  right: 27px; 
 
  }

  }



@media screen and (min-width: 481px) and (max-width: 780px) {


  body{
    width:100%;
    overflow:hidden;

  }


  .mobile-icon{
    display: block;
    
  }
  
    .monitor{
      display:none;
    }

    .client{
    
      height: 1400px;
    }
    .nemo-box{
      display: none;
    }
    .client{
      height: 700px;
   
    }
    .Service{
      height: 400px;
    }
    .projects{
      height: 5400px;
      display: block;
      overflow-x:hidden;
    }
 
    .projects .flex{
      display: block;
    }
    img.back-img{
      width: 600px;
      display: block;
      margin: 0 auto;
      overflow: hidden;

    }
    .projects h3{
      white-space:normal;
      margin: 20px;
    }
    
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {


    body{
      width:100%;
      overflow:hidden;
    }

    ul .menu{
      display: none;
    }
    
    
    .mobile-icon{
      display: block;
      
    }
  


  }


  @media screen and (max-width:1500px){

    .monitor{
     width: 150px;
      top: 120px;

  }}
