@charset "utf-8";
/* COMMON */
a{
  text-decoration: none;
  color: #333;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/* font */
@font-face {
  font-family: 'SCDream2';
  font-weight: 300;
  src:url(./font/SCDream2.otf) format(opentype);
}

@font-face {
  font-family: 'SCDream3';
  font-weight: 400;
  src:url(./font/SCDream3.otf) format(opentype);}

@font-face {
  font-family: 'SCDream4';
  font-weight: 500;
  src:url(./font/SCDream4.otf) format(opentype);

  
}
@font-face {
  font-family: 'SCDream5';
  font-weight: 600;
  src:url(./font/SCDream5.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream6';
  font-weight: 700;
  src:url(./font/SCDream6.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream8';
  font-weight: 800;
  src:url(./font/SCDream8.otf) format(opentype);
}
@font-face {
  font-family: 'SCDream9';
  font-weight: 900;
  src:url(./font/SCDream9.otf) format(opentype);
}

/* Button */

.btn {

    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #F9f9f9;
    color: #476582;
    border: #999;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'SCDream4';
  }


button .material-icons{
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
 
}

.btn-main {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: #42b883;
  color: #fff;
  border: #F2F8FF;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'SCDream4';
 }
 .btn-main a{
  color: #fff;
 }

 .btn:hover{

 background-color:#f1f1f1;

 }
 .btn-main:hover{
  background-color: #42d392;


 }
 button:hover.material-icons:hover{
  padding-left: 5px;
}



/* header */
header{
  width: 100%;
  height: 55px;
  background-color:#fff;
  box-shadow: 0.5px 0.5px 0.5px #f1ebeb; 
  position: fixed;
  z-index: 8;
  
 

}
header .inner{
  width: 1200px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header img{
  position: absolute;
  left: 0;

  
} 

header .inner ul{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header ul li a{
  font-size: 13px;
  padding: 11px 40px;
  display: block;
  color: #333;
  font-family:'SCDream4';
  cursor: pointer;
}

  header ul li a:hover{
  color: #42B883;
}

/*Mobile */

.mobile-icon .material-icons{
  font-size: 30px;
}

.mobile-icon{
  display:none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
 
}
#mobile{
  font-size: 30px;
  position: absolute;
  right:15px;
  top: 5px;
  cursor: pointer;
}

.mobile-menu{
  width: 100%;
  display: none;
  height: 250px;
  background-color:#fbfbfb;
  border:0.1px solid #e1d9d9;
  z-index: 500;
  position: fixed;
  animation:fade-in 0.7s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobile-menu ul{
 
 margin-top: 30px;
 font-size: 18px;
 font-family:'SCDream5';
 text-align: center;


}
.mobile-menu li{
  margin : 35px;
  cursor: pointer;
 
}



.mobile-menu a{
 text-decoration: none;
 color: #333;
 cursor: pointer;
}

.mobile-menu a:hover{
  color: #42d392;
}


/* VISUAL */
.visual{
 height: 580px;

}

.visual .inner {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;

 
}

.visual p{
  /* top: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.visual .inner h1{
  letter-spacing: -2px;
  font-size: 70px;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(285deg,#42d392 15%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'SCDream9';
  margin-top: 50px;
}
  
.visual .inner h4{
  font-size: 70px;  
  word-spacing: -5px;
  font-family:'SCDream9';
  color: #333336;
  margin-bottom: 35px;
}
.visual .inner h5{
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #999;
  margin-bottom: 50px;
  font-family:"SCDream4";
}


/* solution */

.know-how{
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e4e7eb;

}
.know-how p{
  font-family:'SCDream3';
  font-size: 14px;
}
.know-how strong{
  font-size: 20px;
  color: #f02265;
  font-family:'SCDream5';
}

.Service{
  width: 100%;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.Service h1{
  margin-left: 50px;
  font-size: 20px;
  font-family:'SCDream5';
  text-align:left;
  color: #213547;
  margin-bottom: 25px;


}
.Service p{
  font-size: 14px;
  font-family:'SCDream4';
  margin-top: 15px;
  text-align:left;
  line-height: 1.8;
  margin-left: 50px;
  color: #3c3c3cb3;
}
.Service strong{
  
  font-family:'SCDream4';
}

.client-mesage{
  margin-top: 100px;
  font-size: 22px;
}

/* Client */

.client{
 
  height: 500px;
  background-color: #fff;
  margin-top: 20px; 
}

.client .inner{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

}


.client img{
  width:290px;
  margin: 0.1px 2px;
  
}
.mesage-mobile{
  display: none;
}

/* topButton */
#topButton {
  width: 150px;
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  font-size: 16px; 
  border: 0.5px solid #42B883; 
  font-family:'SCDream4';
  outline: none; 
  background-color: #fff; 
  color:#42B883; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 20px; 

  }
    
#topButton:hover {
  background-color: #42B883;
  color: #fff;
    }
   
   
/* SWIPER */

.PORTFOLIO{
  background-color: #F9F9F9;
  /* border: 0.1px solid #999; */

}
.inner-swiper{
  /* width: 100%; */
  /* position: relative; */
  margin: 0 auto;

}
 
.inner-swiper h1{
  font-size: 35px;
  font-family:'SCDream6';
  align-items: center;
  text-align: center;
  padding-top: 50px;
  margin: 50px;
  color:#333;
}
.swiper-detail{
  align-items: center;
  justify-content: center;
}

.title h5{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 70px;
  color:#42B883;
  font-family:'SCDream5';
}
.detail{

  margin-left: 70px;
  display: flex;
  
}
.figure .circle{
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  border-radius: 20px;
  margin-top: 2px;


}
.figure .circle:first-child{
  margin-top: 20px;
}
.figure .circle:last-child{
  margin-bottom: 80px;
}
.figure .line{
  margin-left: 6px;
  border-left: 2px dashed #999;
  height:40px;
  margin-top: 5px;
}
.detail .ex{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 50px;
  font-family:'SCDream3';
  line-height: 1.1;
  font-size: 15px;
}
.detail .ex strong{
  font-family:'SCDream5';
}
.ex p:nth-child(2){
  margin-top: 45px;
}
.ex p:nth-child(4){
  margin-top: 30px;
}
.detail .ex-salt{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 50px;
  font-family:'SCDream3';
  line-height: 1.1;
  font-size: 15px;
}

.ex-salt p:nth-child(2){
  margin-top: 45px;
}
.ex-salt p:nth-child(4){
  margin-top: 30px;
}

.nemo-box-1 img{
  margin-left: 0;
  padding-left: 0;
}
.nemo-box img{
  margin-left: 50px;
  width: auto;
  height: 180px;
}

.nemo-box h5{
  font-size: 16px;
  margin-left: 100px;
  margin-top: 20px;
  font-family:'SCDream5';
}
.monitor{
  width: 180px;
  position: absolute;
  right: 50px;
  top: 170px;
}

.aline{
  display: flex;
  align-items: center;
  position: relative;
  }
  
.content{
  transition: 0.4s;
   overflow: hidden;
  }

.content img{
  width: 100%;

  }

.pagination-span{
  display: flex;
  justify-content: center;
  /* text-align: center; */

  margin: 20px;
  


 
}
.pagination-span span{
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin: 5px;
  background-color: #888a89;
  bottom: 20px;
 
  
  }

  /* Footer */
footer{
  height: 150px;
  background-color:#fff;
  padding-top: 10px;
  text-align: center;
 

}

.info{
padding-top: 10px;
}

footer p{
  font-size: 14px;
  font-family:'SCDream3';
  margin:10px;
  line-height: 1.1;

}
footer strong{
  font-family:'SCDream5';
  margin-left: 15px;
}

/* MOBILE */
  
@media screen and (max-width:600px){

    
    header ul{
      display: none;
  
    }
    
    .mobile-icon{
      display: block;
      
    }

  
    header img{
      width: 180px;
      height: 40px;
      margin-top: 5px;
    }
  

    .btn{

        width: 160px;
      }
    
    
    .visual{
      height: 100vh;
    }
    .visual .inner h1{
      font-size: 35px;
    
      background: -webkit-linear-gradient(285deg,#42d392 15%,#647eff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family:'SCDream8';
        
    }
    .visual .inner h4{
      font-size: 25px;
      font-weight: 800;
      font-family:'SCDream6';
      color: #333336;
      margin-top: 20px;
    
    }
    .visual .inner h5{
      font-size: 12px;
    
    
    }
   
    .know-how{
      height: 70px;
      border: #fff;

    }
    .know-how p{
      font-size: 12px;
    }

    .Service{
      height: 650px;
      display:block;
      text-align: center;
    
    }
    
    .Service h1{
      margin-left: 0;
      margin-top: 30px;
      font-size: 18px;  
      text-align:center;
      
    
    }
    .Service p{
      margin-left: 0;
      font-size: 14px;
      margin-top: 30px;
      text-align:center;
      line-height: 1.8;
   
    
    }
 
    .client{
      height: 1300px;
   
    }
    .client h1{
      margin-right: 0;
      margin-left: 100px;
      display: inline-block;
      font-size: 22px;
     
    }
    
    .client .inner{
      display: block;
  
    }
    .client-mesage{
      display: none;
    }
    .mesage-mobile{
      display: block;
      font-family:'SCDream5';
      margin:20px;
    }
    

    /* SWIPER */

    .inner-swiper h1{
    font-size: 25px;
    }
 
    .swiper-detail{
    align-items: center;
    justify-content: center;
    }

    .title h5{
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .detail{
    margin-left: 5px;
    }
    .figure .circle{
    width: 10px;
    height: 10px;
    margin-top: 2px;
    }
    .figure .circle:first-child{
    margin-top: 5px;
    }
    .figure .circle:last-child{
    margin-bottom: 40px;
    }
    .figure .line{
    height: 50px;
    margin-top: 5px;
    }
    .detail .ex{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    }
    .detail .ex strong{
    font-family:'SCDream5';
    }
    .ex p:nth-child(2){
    margin-top: 50px;
    }
    .ex p:nth-child(4){
    margin-top: 45px;
    }
    .nemo-box-1 img{
    display: none;
    }
    .nemo-box img{
    display: none;
    }
    .nemo-box h5{
    display: none;
    }
    .content img{
      width: 100%;
      height:250px;
    }
    .monitor{
      display: none;
    }
  
   
    .ex-salt p:nth-child(2){
      margin-top: 40px;
    }
    .ex-salt p:nth-child(4){
      margin-top:45px;
    }
    .detail .ex-salt{
      margin-top: 5px;
    }
    
}


@media screen and (min-width:700px) and (max-width:1000px){

    header ul li{
      margin: 15px;
    }
    .monitor{
      display:none;
    }

    .client{
    
      height: 1400px;
    }
    .nemo-box{
      display: none;
    }
    .client{
      height: 700px;
   
    }
  }


  @media screen and (max-width:1500px){
    .monitor{
     width: 150px;
      top: 120px;

  }}
