<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>softplant_project</title>
    <link rel="stylesheet" href="./Project.css">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
            <!--FAVICON  -->
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/favicon .ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/favicon .ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/favicon .ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/favicon .ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/favicon .ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/favicon .ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/favicon .ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/favicon .ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/favicon .ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/favicon .ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon .ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon .ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon .ico/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <header>
        <div class="inner">
          <a href="/"><img src="./swiperimage/logo.png"s alt="logo"></a>
            <ul class="menu">
              <li><a href="./index.html?value=know-how">서비스</a></li>
              <li><a href="./index.html?value=project">포트폴리오</a></li>
              <!-- <li><a href="./index.html?value=teams">팀원</a></li> -->
              <li><a href="./Project1.html">프로젝트 의뢰</a></li>
            </ul>
       </div>
            <div class="mobile-icon">
            <div class="material-icons">menu</div>
            </div>
      </header>
      <div class="mobile-menu">
        <div class="material-icons"id="mobile">close</div>
          <ul>
            <li><a href="./index.html?value=know-how">서비스</a></li>
            <li><a href="./index.html?value=project">포트폴리오</a></li>
            <!-- <li><a href="./index.html?value=teams">팀원</a></li> -->
            <li><a href="./Project1.html">프로젝트 의뢰</a></li>
          </ul>
       </div>
    

    <section class="top">
        <div class="inner">
            <h1>프로젝트 등록</h1>
        </div>
        <div class="inner">
            <div class="navigation">
            <img src="./swiperimage/navi1.png" alt="navi">
            </div>
        </div>
        
    </section>

    <section class="basic"> 
            <div class="inner">
              
                    <h2>기본정보</h2>
                    <!-- <hr></hr> -->
                        <h3>* 프로젝트 제목</h3>
                            <input type="text" id="projectName" placeholder="프로젝트 제목을 입력해 주세요 (ex.통합 DB구축, 건강 앱 개발)">
                        <h3>* 프로젝트 분야</h3>
                            <input type="text" id ="field" placeholder="ex.웹,애플리케이션,퍼블리싱,소프트웨어">
                        <div class="select">
                            <h3> * 프로젝트 진행 분류</h3>
                            <input type="radio" id="new" name="project" value="new">
                            <label for="new">신규 프로젝트</label>
                            <input type="radio" id="old" name="project" value="old">
                            <label for="old">기존 프로젝트 리뉴얼 or 유지보수</label>
                        </div>    
                        <div class="condition">
                            <h3> * 기획상태</h3>
                            <input type="radio" id="ready" name="ready" value="ready">
                            <label for="ready">준비가 되어있음 </label>
                            <input type="radio" id="no" name="ready" value="no">
                            <label for="no">준비되어있지 않음</label>
                        </div>    
                        
            </div>

            

            <!-- <template>
                <div class="inner">
                  <h2>기본정보</h2>
                  <h3>* 프로젝트 제목</h3>
                  <input type="text" id="projectName" placeholder="프로젝트 제목을 입력해 주세요 (ex.통합 DB구축, 건강 앱 개발)" v-model="projectName">
                  <h3>* 프로젝트 분야</h3>
                  <input type="text" id="field" placeholder="ex.웹,애플리케이션,퍼블리싱,소프트웨어" v-model="field">
                  <div class="select">
                    <h3> * 프로젝트 진행 분류</h3>
                    <input type="radio" id="new" name="project" value="new" v-model="projectType">
                    <label for="new">신규 프로젝트</label>
                    <input type="radio" id="old" name="project" value="old" v-model="projectType">
                    <label for="old">기존 프로젝트 리뉴얼 or 유지보수</label>
                  </div>
                  <div class="condition">
                    <h3> * 기획상태</h3>
                    <input type="radio" id="ready" name="ready" value="ready" v-model="planningStatus">
                    <label for="ready">준비가 되어있음</label>
                    <input type="radio" id="no" name="ready" value="no" v-model="planningStatus">
                    <label for="no">준비되어있지 않음</label>
                  </div>
                </div>
              </template> -->
    </section>

        <div class="next">
       <button class="btn" onclick="getValues()">다 음 </button>
        </div>

<!-- Contact Button -->
<button onclick="quickGo()" id="contact"><div class="material-icons">mail</div><div class="nemo"><h1>빠른문의</h1></div></button>

<!-- <template>
    <button @click="quickGo" id="contact">
      <div class="material-icons">mail</div>
      <div class="nemo">
        <h1>빠른문의</h1>
      </div>
    </button>
  </template> -->

 <!-- script -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script>
 
    // 빠른문의로 이동 
    function quickGo(){
    window.location.href = "./contact.html";
  }
//   export default {
//   methods: {
//     quickGo() {
//       window.location.href = "./contact.html";
//     }
//   }
// }
    
    console.log('프로젝트이름") :'+window.localStorage.getItem("lastProjectName"));
    document.getElementById("projectName").value = window.localStorage.getItem("lastProjectName");
    document.getElementById("field").value = window.localStorage.getItem("lastField");

    if(window.localStorage.getItem("lastNew") !== ''){
        if(window.localStorage.getItem("lastNew") == "new"){
            document.getElementById("new").checked = true;  
        }else if(window.localStorage.getItem("lastNew") == "old"){
            document.getElementById("old").checked = true;  

        }
    }
    

    if(window.localStorage.getItem("lastReady") !== ''){
        if(window.localStorage.getItem("lastReady") == "ready"){
            document.getElementById("ready").checked = true;  
        }else if(window.localStorage.getItem("lastReady") == "no"){
            document.getElementById("no").checked = true;  
        };
    }

//     export default {
//   data() {
//     return {
//       projectName: '',
//       field: '',
//       newOrOld: '',
//       readyOrNot: ''
//     };
//   },
//   mounted() {
//     this.projectName = window.localStorage.getItem("lastProjectName") || '';
//     this.field = window.localStorage.getItem("lastField") || '';

//     if (window.localStorage.getItem("lastNew") === 'new') {
//       this.newOrOld = 'new';
//     } else if (window.localStorage.getItem("lastNew") === 'old') {
//       this.newOrOld = 'old';
//     }

//     if (window.localStorage.getItem("lastReady") === 'ready') {
//       this.readyOrNot = 'ready';
//     } else if (window.localStorage.getItem("lastReady") === 'no') {
//       this.readyOrNot = 'no';
//     }
//   }
// };



    // window.lastProjectName = '';
    // window.lastField = '';
    // window.lastNew = '';
    // window.lastOld = '';
    // window.lastReady = '';
    // window.lastNo = '';
    // window.testTxt ='testTxt';


    // function goSecondPage(){
    //     lastProjectName = document.getElementById("projectName").value;
    //     lastField = document.getElementById("field").value;
    //     lastNew = document.getElementById("new").value;
    //     lastOld = document.getElementById("old").value;
    //     lastReady = document.getElementById("ready").value;
    //     lastNo = document.getElementById("no").value;
    //     window.location.href = "./Project2.html";
    // }

    function getValues(){
        window.localStorage.setItem("lastProjectName",document.getElementById("projectName").value);
        var chk_radio = document.getElementsByName('project')
        
        var sel_type = null;

        for(var i =0; i<chk_radio.length; i++){
        if(chk_radio[i].checked == true){
            sel_type = chk_radio[i].value
        }
        }

        if(sel_type == null){
        // alert("프로젝트 진행 분류를 선택해 주세요")
        // return false;
            window.localStorage.setItem("lastNew",'');
        }else{
            window.localStorage.setItem("lastNew",document.querySelector('input[name="project"]:checked').value);  
        }

        var chk_radio1 = document.getElementsByName('ready')
        
        var sel_type1 = null;

        for(var i =0; i<chk_radio1.length; i++){
        if(chk_radio1[i].checked == true){
            sel_type1 = chk_radio1[i].value
        }
        }

        if(sel_type1 == null){
        // alert("프로젝트 진행 분류를 선택해 주세요")
        // return false;
            window.localStorage.setItem("lastReady",'');
        }else{
            window.localStorage.setItem("lastReady",document.querySelector('input[name="ready"]:checked').value);  
        }
        // window.localStorage.setItem("lastReady",document.querySelector('input[name="ready"]:checked').value);
        window.localStorage.setItem("lastField",document.getElementById("field").value);
        
        // window.localStorage.setItem("lastOld",document.getElementById("old").value);
        
        // window.localStorage.setItem("lastNo",document.getElementById("no").value);
        window.location.href = "./Project2.html";}
    
    // Mobile


    const menuIcon = document.querySelector('.mobile-icon');
    const menu = document.querySelector('.mobile-menu');

    
    menuIcon.addEventListener('click', function() {
        menu.style.display = 'block';
    });

    const closeIcon = document.getElementById("mobile");

    closeIcon.addEventListener('click',function() {
        menu.style.display = 'none';
    })
    

</script>
</body>
</html>